<div class="pro-sho-con1">
  <div class="pro-sho-con2 row">
  <div class="col-4"></div>	
  <div class="col-4"><%=image_tag(current_user.avatar.url,class: "pro-sho-ava1",style:"width:100%;transform: translateY(40%);border-radius:10em;") if current_user.avatar.url != nil%></div>
  <div class="col-4"></div>
  </div>
  <div class="pro-sho-con3">
  <%=current_user.email %>
  	
  </div>
</div>