body{
height: 100vh;	
background: rgba(216,85,96,0.33);


}
nav{
	background-color: #eee !important;
}
section .col-3 .col a{
	font-weight: bold;
}
section .col-3 .col a:hover{
	font-size: 15px;
}

.logo{
	height: 8vh;
}
.hom-ind-sec{
	
	background-color: #270072;
	color:#C9ADFF;
}
.hom-ind-h1{
	text-align: center;
	font-size: 4em;
	padding-top: 4em;
}
.hom-ind-btn{
	font-size: 3em !important;
	margin-top:1em; 
}
.dev-sign{
	margin: 9% 40% 0% 40%;
	text-align: center;
	width: 20%;
	border: 2px black dashed;
	border-radius: 20px;
}
.new_user{
	margin-top: 2em;
	margin-bottom: 4em;
	
}
.dev-sign a{
	color: green;
}
.dev-sign a:hover{
	color: orange;
}
.for-ind-div2{
	width: 50%;
	float: left;
	border-right: 1px aliceblue solid;
	border-left: 1px solid aliceblue;
}
.for-ind-div1{
	float: left;
	width: 25%;
	

}
.for-ind-div3{
	float: right;
	width: 25%;
	position: relative;
	padding: 10px;
	
}
.for-ind-sec1{
	
}
.list-group a{
	background-color: #f2f2f2;
}
.list-group{
	
	margin: 72px 22px auto 63px;
	background-color: #f2f2f2;
}

#list-home-list,#list-profile-list,#list-messages-list,#list-settings-list{
	line-height: 35px;
	border: 0 0 0 1px;
}
.banner1{
	margin-top: 2.2em;
	font-weight: bolder;
	-webkit-box-shadow: 0px -2px 0px 0px rgba(238,255,253,0.22); 
box-shadow: 0px -2px 0px 0px rgba(238,255,253,0.22);
border-top: 5px solid rgba(213,213,213,0.24);
border-radius: 20px;
}
.for-sho-mai1{
	background-color: #f2f2f2;
	margin: 72px 10px 10px 12px;
	letter-spacing: 1px;
	border-radius: 6px;
	min-height: 80vh;
}
.for-ind-lis1{
	letter-spacing: 1px;
	border:1px solid rgba(0, 0, 0, 0.125);
	margin: 0px 0px 0px 0px;
	border-radius: 2px;
	padding: 10px;

}
.for-ind-lis1 a{
	color: #270072;
}
.for-ind-lis1 a:hover{
	text-decoration: none;
}
#forum_body{
	width: 100%;
	min-height: 30em;
}
#forum_title{
	width: 100%;
}
.for-sho-com2{
	width: 100%;
	background-color: white;
	border-radius: 3px;
	margin-top: 10px;
}
.for-sho-com1{
	width: 100%;
	margin-top: 4em;
	width: 100%;
	margin-top: 4em;
	border: 1px solid cadetblue;
	border-radius: 4px;
	padding: 10px 10px 10px 10px;
	background: white;
}
.for-sho-com3{
	margin-top: 10px;
	border-bottom: 1px black solid;
	margin-top: 10px;
	border-bottom: 1px solid bisque;
	background-color: floralwhite;
	padding: 15px 30px 30px 30px;

}
.pro-sho-con2{
	height: 40%;
	background-color: #270072;
	-webkit-box-shadow: 0px -4px 22px 14px rgba(0,0,0,0.77); 
	box-shadow: 0px -4px 22px 14px rgba(0,0,0,0.77);
}
.pro-sho-ava1{
	-webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 26px 28px rgba(255,255,255,0.32); 
box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 26px 28px rgba(255,255,255,0.32);
}
.pro-sho-con3{
	font-size: 8vw;
text-align: center;
text-transform: capitalize;
transition: cubic-bezier(.86,0,.07,1);
transform: translateY(90%);
color: #FFFFFF;
color: #FFFFFF;
background: #ece9e9;
text-shadow: -2px 4px 6px #472C47;;
}